html {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(29, 29, 29);
  color: rgb(255, 255, 255);
  font-size: 16px;
}

h1, h2, h3 {
  font-family: "Montserrat", "Open Sans", sans-serif;
  color: rgb(167, 167, 167);
}

a, a:link, a:visited {
  color: rgb(144, 216, 144);
  font-weight: bold;
  text-decoration: none;
}

a:hover, a:active {
  color: rgb(85, 188, 192);
  border-bottom: 3px solid rgb(167, 167, 167);
}

strong {
  font-weight: bold;
}

h1 a, h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

pre {
  word-wrap: break-word;
  white-space: pre-wrap;
}

code {
  font-family: "Inconsolata", monospace;
  font-size: 16px;
}

p code, li code {
  background-color: rgb(65, 65, 65);
  padding: 0 5px;
}

.code-tag {
  color: rgb(219, 107, 163);
}

.code-comment {
  color: grey;
}

.code-block {
  background-color: rgb(44, 44, 44);
  color: rgb(255, 255, 255);
  margin: 30px 2% 30px 5%;
  border-left: 10px solid #000;
  padding: 5px 20px;
}